@import '../../../../assets/scss/vars';

.root {
  width: 100%;
  cursor: pointer;
  &:focus-visible {
      border: 3px solid $color-border-checkbox-color;
    }
}

.input {
  appearance: none;
  -webkit-appearance: none;
  &:checked + .label {
    color: white;
    background-color: $color-blue;
  }
  &:focus + .label, &:hover + .label{
    @extend %outline-elem;
  }
}

.label {
  margin-top: -20px;
  padding-top: 12px;
  height: 40px;
  width: 100%;
  text-align: center;
}